body {
    margin-left: 100px;
    margin-right: 100px;
}

.header {
    background-color: rgb(255, 102, 0);
    font-size: 20px;
    padding: 5px;
}

.title {
    font-weight: bold;
}

.date {
    color: lightgray;
    float: right;
}

.postList {
    padding: 10px;
    background-color: #f6f6ef;
}

.postList .number {
    color: #828282;
    padding-right: 5px;
}

.postList * > li {
    margin-bottom: 5px;
    list-style-type: none;
    margin-left: -40px;
}