# Ignore powerpoint files
*.pptx
~$*.pptx

# Ignore maven build artifcats
target/

# Ignore IDE files
.idea/
*.iml

# Ignore node files
node_modules/

# Ignore database files
database/

# Ignore build files
frontend/.cache
frontend/dist

# Organizational files
project/
